@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
font-size: 16px;
margin: 0;
padding: 0;
}

body {
margin: 0;
padding: 0;
font-weight: normal;
font-family: "Montserrat", "Arial", sans-serif;
background-color: #EFE6E4;
}

ol, ul {
list-style: none;
margin: 0;
padding: 0;
}

img {
max-width: 100%;
height: auto;
}

/* 1.Header*/

.page-header {
    display: grid;
    grid-template-columns: 182px 472px 746px;
    grid-template-areas: "logo nav nav"
                         "header header header";
    background-color: #C8BEB2;
    background: url(../pic/header-bg.png) no-repeat;
    background-size: 1400px;
    color: #533738;
    width: 1400px;
    height: 715px;
    margin-bottom: 65px;
    
}
/* 1.1 Menu*/

.logo {
    grid-area: logo;
    margin-left: 100px;
    margin-top: 38px;
}

.page-nav {
    display: flex;
    grid-area: nav;
    justify-content: center;
    gap: 35px;
    margin-top: 38px;
}

.nav-links {
    display: flex;
    gap: 26px;
}

.phone {
    margin: 0;
    padding: 0;
}

.nav-links li a {
    display:block;
    margin:0;
    text-decoration: none;
    color: #533738;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.phone a {
    text-decoration: none;
    color: #533738;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}


/* 1.2 Header content */

.header-content {
display: flex;
flex-direction: column;
grid-area: header;
color: #533738;
margin-left: 182px;
margin-bottom: 168px;
margin-top: 91px;
width: 472px;

}

.header-tittle{
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;
}

.header-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 434px;
}

.header-btn {
    display: block;
    background-color: #CC8B86;
    width: 309px;
    text-align: center;
}

.header-btn a {
    font-size: 20px;
    font-weight: 500;
    line-height: 74px;
    text-decoration: none;
    color: #533738;
}

/* 2. Main */
/* 2.1 About */

.about {
    color: #533738;
    margin-bottom: 65px;
}

.about-tittle {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
}

.about-wrapper {
    display: flex;
    justify-content: center;
    gap: 63px;
    margin-bottom: 21px;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 528px;

}

.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0;
}

.about-aside {
    display: flex;
    justify-content: space-evenly;
    background-color: #8D7370;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 85px;
    padding-bottom: 81px;
}

.number {
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;
}
/* 2.2 Cases*/

.cases {
    color: #533738;
}

.cases-tittle {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
}

.cases-blocks {
    display: grid;
    grid-template-columns: 488px 184px 488px;
    grid-template-areas: "block-1 block-wide-1 block-wide-1"
                         "block-wide-2 block-wide-2 block-narrow";
    column-gap: 20px;
    row-gap: 30px;
    justify-content: center;
}

.cases-block-1 {
    grid-area: block-1;
    width: 488px;
    height: 451px;
    background-color: rgba(100, 72, 69, 0.2);
    background-image: url(../pic/cases-block-bg.png);
    background-size: 488px 451px;
}

.cases-block-tittle {
    width: 272px;
    padding-top: 86px;
    padding-left: 109px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    color: #ffffff;
}

.cases-block-text {
    width: 418px;
    padding-left: 35px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
}

.block-wide-1 {
    grid-area: block-wide-1;
}

.block-wide-2 {
    grid-area: block-wide-2;
}

.block-narrow {
    grid-area: block-narrow;
}



.cases-link {
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    color: #533738;
    text-decoration: none;
}

/* 2.3 Team */

.team {
    margin-top: 65px;
    color: #533738;
    background-color: #E2C4BA;
}

.team-tittle {
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        text-transform: uppercase;
}
.team-member {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

/* 2.4 Stages */

.stages {
    margin-top: 0px;
    color: #533738;
    background-color: #E2C4BA;
}

.stages-tittle {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
}

.stages-elements {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.stages-elements li {
    display: inline;
}

/* 2.5 Reviews */

.reviews {
    margin-top: 65px;
    color: #533738;
    background-color: #E5E5E5;
}

.rewies-tittle {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
}

.rewies-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.rewies-author {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;   
}

/* 2.6 Form */

.form {
    margin-top: 65px;
    color: #ffffff;
    background-color: #8D7370;
}

/* 3. Footer */

.page-footer {
    color: #533738;
    background-color: #E5E5E5;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.page-footer li a {
    text-decoration: none;
    color: #533738;
}